html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: black !important;
}

.form-check-input {
    box-shadow: none !important;
    border-color: black !important;
}

.page-item.active .page-link {
    background-color: #F88634 !important;
    border-color: #F88634 !important;
    color: white !important;
}

.back {
    background-color: white;
    border: none;
    color: gray !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: black !important;
}

.btn {
    box-shadow: none !important;
}

.button:focus {
    outline: none;
}

.btn:focus {
    outline: none !important;
}
